/*Biblioteca de ícones*/
@import "@fortawesome/fontawesome-free/css/all.min.css";

/*Biblioteca de select*/
@import "tom-select/dist/css/tom-select.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "itim";
    src: url("../fonts/itim.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "chilanka";
    src: url("../fonts/chilanka.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.itim {
    font-family: "itim", sans-serif;
}

.chilanka {
    font-family: "chilanka", sans-serif;
}

/*Animação no footer*/
@keyframes floatWave {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Classe que aplica a animação */
.wave-item {
    animation: floatWave 2.5s ease-in-out infinite;
}
.wave-item2 {
    animation: floatWave 2s ease-in-out infinite;
}

/*Estilização do select*/

/* Fundo do select */
.ts-control {
    background-color: #f8d69e; 
    border: none;
    border-radius: 3rem; 
    padding: 8px 10px;
}

/* Cor do texto digitado */
.ts-control > input {
    color: #8e4330; 
}

/* Estilo das TAGS selecionadas */
.ts-wrapper.multi .ts-control > div {
    background-color: white; 
    color: #8e4330;
    border-radius: 4px;
}

/* Dropdown que abre */
.ts-dropdown {
    background-color: #f8d69e;
    color: #803c2b;
    border-color: #8e4330;
    border-radius: 10px;
}

/* Item do dropdown ao passar o mouse */
.ts-dropdown .active {
    background-color: white;
    color: #8e4330;
}
